
<div id= "navbar">
	<ul>
		<li><a href="#"><i class="fas fa-home"></i></a></li>
		<li><a href="./articles-list/articleslist-kd.html">Kinh Doanh</a>
		<div class="dropdown-content">
			<ul>
				  <li><a href="./articles-list/articleslist-kd-ns.html">Nông sản</a></li>    				
				  <li><a href="./articles-list/articleslist-kd-hs.html">Hải sản</a></li>
			  </ul>
		</div>
		</li>
		<li><a href="#">Chính Trị</a>
		<div class="dropdown-content">
			<ul>
				  <li><a href="#">Trong nước</a></li>
				  <li><a href="#">Ngoài nước</a></li>
			  </ul>
		</div></li>
		<li><a href="#">Khoa Học</a>
		<div class="dropdown-content">
			<ul>
				  <li><a href="#">Công Nghệ</a></li>
				  <li><a href="#">Tự Nhiên</a></li>
			  </ul>
		</div></li>
		<li><a href="./articles-list/articleslist-xh.html">Xã Hội</a>
			<div class="dropdown-content">
				<ul>
					<li><a href="./articles-list/articleslist-xh-ds.html">Đời sống</a></li>
					<li><a href="./articles-list/articleslist-xh-hh.html">Hài hước</a></li>
				</ul>
			</div>
		</li>
		<li><a href="#">¯\_(ツ)_/¯</a></li>
	</ul>

	<div id="user-icon">
		<a href="./login.html"><i class="far fa-user"></i></a>			
	</div>

	<div id="searchbar">
		<input type="text" placeholder="Search...">
		<img src="/theme/img/magnifying-glass.png" width="32" height="32"> 			
	</div>
	
</div>
