<div class="site">
		<a href="/"><img class="homeimg" src="https://i2.wp.com/troendesforsamling.org/wp-content/uploads/theres-nothing-new-under-the-sun-or-is-there-1-728.jpg?fit=728%2C546&resize=350%2C200"></a>
</div>