<html>
    <head>
            <title><%= title %></title> 
            <link href="/theme/css/login.css" rel="stylesheet" type="text/css" />
            <meta charset="UTF-8">
    </head>
    <body>

    <div class="container">
            <div id="header">
                <img src="/theme/img/logo.png"></img>
                <p>Đăng nhập</p>
            </div>
            <div id="login">
                <form method="get" id="loginFrm" action="">

                    <fieldset class="clearfix">
          
                      <p><span class="fontawesome-user"></span><input name="username" type="text" placeholder="Username" required></p> <!-- JS because of IE support; better: placeholder="Username" -->
                      <p><span class="fontawesome-lock"></span><input name="pass" type="password"  placeholder="Password" required></p> <!-- JS because of IE support; better: placeholder="Password" -->
                      <p><input type="submit" value="Sign In"></p>
          
                    </fieldset>
          
                  </form>
          
                  <p>Not a member? <a href="/register">Sign up now</a><span class="fontawesome-arrow-right"></span></p>
            </div>

            <div id="login_via">
                    <!-- <input type="submit" id="facebook" value="Facebook"></input> -->
                    <button class="button_login_as">
                        <img src="/theme/img/icon_facebook.png"></img>
                        <i>Facebook</i>
                    </button>
            </div>           
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
            <script>
                $(function () {
                $('#loginFrm').validate({
                 rules: { 
                    username:{
                        required: true,
                    },
                    pass: {
                        required: true,
                    }                    
                 },
                 messages:{
                     username:{
                         required: 'Please enter your username',
                     },
                     pass: {
                        required: 'Please enter your password',
                    }   
                 },
                });
            })
            </script>
    </body>
</html>