<html>
    <head>
        <title>Đăng kí</title>
        <meta charset="UTF-8">
        <link href="../theme/css/register.css" rel="stylesheet" type="text/css" >
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    </head>
    <body>
     <div class="container">
            <div id="header">
                    <p>Đăng kí</p>
                </div>
        <div id="register">
            <form method="POST" id="loginFrm" action="" novalidate>

                <fieldset class="clearfix">
      
                  <p><i class="fas fa-user"></i><input autofocus name="username" type="text" placeholder="Username" required></p>
                  <p><i class="fas fa-lock"></i><input name="pass" type="password"  placeholder="Password" required></p>
                  <p><i class="fas fa-key"></i><input name="passconfirm" type="password"  placeholder="Password Confirm" required></p>
                  <p><input type="submit" value="Sign Up"></p>
      
                </fieldset>
      
              </form>
        </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
            <script>
                $(function () {
                $('#loginFrm').validate({
                 rules: { 
                    username:{
                        required: true,
                        remote: {
                            url: '/is-available',
                        }
                    },
                    pass: {
                        required: true,
                    },
                    passconfirm:{
                        required: true,
                        equalTo: $('[name="pass"]')
                    },                    
                 },
                 messages:{
                     username:{
                         required: 'Please enter your username',
                         remote: 'Username existed, please choose another one'
                     },
                     pass: {
                        required: 'Please enter your password',
                    },
                    passconfirm:{
                        required: 'Please confirm your password',
                        equalTo: 'Password doesnt match',
                    },   
                 },
                });
            })
            </script>
    </body>
</html>