       <div class="bigcontainer">
            <div class="breadcrumb">
                  <ol>
                    <li>
                      <a href="/">
                        <i class="fas fa-home"></i>
                        Trang chủ
                      </a>
                    </li>
                    <li>
                        >
                      <a href="../../../articles-list/articleslist-kd.html">Kinh doanh</a>
                    </li>
                    <li>
                        >
                      <a href="../../../articles-list/articleslist-kd-hs.html">Hải sản</a>
                    </li>
                    <li>
                        >
                      Luật Doanh nghiệp ở đâu trong vụ phân chia tài sản tại Trung Nguyên?
                    </li>
                  </ol>
                </div>
        <div class ="bigpicctn">
            <img src="http://dev.cdn.sgt.tamminh.tech/sgt/1553959646776-fbc02_vu_thao_pjbu.jpg" style="width: 100%;height: 100%">
        </div>
        <div class="body-sticky" id="body-sticky">
        <div id="da-body" class="da-body">
            <div class="post-header" id="post-header">
                <h2 class="post-title lg">Luật Doanh nghiệp ở đâu trong vụ phân chia tài sản tại Trung Nguyên?</h2>
                <i class="far fa-clock"> 21/04/2019</i>
            </div>
            <div class="post-abstract" id="post-abstract">		
                      (PH) tom tat
            </div>
            <div class="post-content" id="post-content">
            <div class="post-content-area">
                    <div class="entry-content">
                      <p><img src="http://dev.cdn.sgt.tamminh.tech/sgt/1553959646776-fbc02_vu_thao_pjbu.jpg"></p><p><em>Tòa án phân xử cho ông Đặng Lê Nguyên Vũ và bà Lê Hoàng Diệp Thảo ly hôn, phân chia tài sản. Ảnh: Báo Thanh niên</em></p><p><strong>Không phải là tranh chấp cổ phần giữa các cổ đông</strong></p><p>Ngay sau khi phán quyết được tuyên, đã có nhiều ý kiến cho rằng việc tòa buộc bà Diệp Thảo bán cổ phần trong các công ty cho ông Vũ với giá do tòa trưng cầu thẩm định giá là bỏ qua quyền, lợi ích của các cổ đông theo quy định của Luật Doanh nghiệp và điều lệ các công ty liên quan đến hai cổ đông lớn đồng thời là vợ - chồng này; tòa cũng không có quyền ấn định giá trị cổ phần trừ khi đó là kết luận của một bản án khác xử riêng về việc đó.</p><p>Nếu căn cứ vào Luật Doanh nghiệp hiện hành với các quy định về công ty cổ phần thì quan điểm như trên là có lý vì luật có quy định về quyền của cổ đông là được tự do chuyển nhượng cổ phần của mình cho người khác (điều 110). Ngoài ra những quy định liên quan đến chuyển nhượng cổ phần theo cách nào giữa các cổ đông cũng được ghi rõ: tự do hóa chuyển nhượng bằng hợp đồng theo cách thông thường hay qua giao dịch trên thị trường chứng khoán. Mặt khác việc mua lại cổ phần cũng phải theo quy định (với điều kiện không thấp hơn giá thị trường).</p><p>Song, theo luật sư Trương Thanh Đức (Chủ tịch Hội đồng thành viên Công ty luật Basico) xuất phát điểm của bên khởi kiện dẫn đến tòa xét xử không phải là "tranh chấp cổ phần giữa hai cổ đông" mà là vụ "xử ly hôn phân chia tài sản là doanh nghiệp".</p><p>Điều 64 Luật Hôn nhân gia đình quy định cách chia tài sản chung của vợ chồng đưa vào kinh doanh. Theo đó, vợ chồng đang thực hiện hoạt động kinh doanh liên quan đến tài sản chung có quyền được nhận tài sản đó và phải thanh toán cho bên kia phần giá trị tài sản mà họ được hưởng. Trừ trường hợp pháp luật về kinh doanh có quy định khác.</p><p>Giống như trường hợp cả hai bên sở hữu chung một ngôi nhà, cả hai đều muốn nhận ngôi nhà sau ly hôn. Tòa sẽ quyết cho một bên và một bên nhận giá trị tương đương . Như vậy không phải là "tước đoạt" hay bắt chuyển nhượng trái luật nào cả.</p><p>Vẫn theo ông Đức, như trường hợp cả hai vợ chồng ông Vũ- bà Thảo cùng có sở hữu chung là doanh nghiệp, nên định giá doanh nghiệp để chia. Nếu hai người&nbsp;cùng được chấp nhận tiếp tục sở hữu doanh nghiệp thì chia theo tỷ lệ cổ phần. Còn nếu chỉ một người sở hữu tài sản thì một người nhận giá trị tài sản tính ra tiền mà không nhận cổ phần.</p><p>Nên vấn đề cần quan tâm là cách chia và khó bàn đến tỷ lệ 60% cho bên này, 40% cho bên kia là hợp lý hay không vì tòa còn cân nhắc nhiều yếu tố.</p><p><strong>Phải định giá đúng</strong></p><p>Do đây là vụ xử ly hôn dẫn đến phân chia tài sản là cổ phần doanh nghiệp nên việc định giá trị tài sản là việc rất quan trọng (không bàn đến các tài sản khác như bất động sản hay tiền vàng ngoài doanh nghiệp). Theo kết quả định giá do tòa công bố, giá trị Công ty cổ phần Tập đoàn Trung Nguyên khoảng 5.700 tỉ đồng.</p><p>Tuy nhiên, theo chuyên gia định giá tài chính Lâm Minh Chánh, Chủ tịch Trường đào tạo quản trị kinh doanh BizUni nói với TBKTSG Online hôm 29-3, tòa đã định giá doanh nghiệp theo phương pháp các cơ quan nhà nước sử dụng, đó là định giá từng tài sản của doanh nghiệp và cộng lại ra giá trị doanh nghiệp.</p><p>Theo ông phương pháp này chỉ áp dụng cho những doanh nghiệp vừa mời thành lập hay đã "chết". Còn xác định giá trị của doanh nghiệp đang tồn tại phát triển thì phải được tính bằng cách xác định giá trị hiện tại của dòng tiền lợi nhuận trong tương lai của doanh nghiệp, hoặc dùng các phương pháp so sánh PE, PB (các chỉ số định giá).</p><p>Theo ông Chánh, nếu xem xét lợi nhuận Trung Nguyên làm ra các năm qua được công bố là 1.294 tỉ đồng (2014), 808 tỉ đồng (2015), 768 tỉ đồng (2016), 681 tỉ đồng (2017), dùng hệ số PE bằng 10 hay 20 và cộng với giá trị các tài sản đầu tư khác, thì giá trị thị trường của doanh nghiệp cà phê Trung Nguyên lớn hơn con số 5.700 tỉ đồng rất nhiều.</p><p>Ông cho rằng có những cách sau đây để có thể tìm ra giá trị hợp lý của Trung Nguyên để có thể chia tài sản doanh nghiệp trong trường hợp này:</p><p>(1) là cho doanh nghiệp lên sàn (điều này khó thực hiện);</p><p>(2) ông Vũ - bà Thảo và các cổ đông còn lại bán doanh nghiệp cho nhà đầu tư khác mua với giá cao nhất (cũng khó thực hiện);</p><p>(3) Hai bên thuê những công ty định giá quốc tế có tên tuổi, uy tín. Mỗi bên chọn 2 đơn vị và lấy trung bình của 4 định giá này ra giá cuối cùng;</p><p>(4) hai bên đấu giá doanh nghiệp. Nếu ông Vũ đưa giá cao hơn giữ 60% cổ phần và chuyển 40% tiền cho bà Thảo. Và ngược lại bà Thảo đưa giá cao hơn thì giữ 40% cổ phần, chuyển 60% giá trị tiền cho ông Vũ.</p><p>Như vậy chỉ cần đổi định giá từ 5.700 tỉ đồng thành 20.000 tỉ đồng thì phần được chia của bà Thảo từ 40% đã giảm xuống 11%. Do vậy, phân chia tài sản trong vụ án ly hôn vợ chồng Trung Nguyên, không chỉ là % cổ phần, không chỉ là cổ phần và tiền mà còn là yếu tố định giá doanh nghiệp cho hợp lý cũng rất quan trọng.</p><p><em>﻿</em></p>
                    </div>
                  </div>
        </div>
                <div class="post-tag" id="post-tag"><a href="#">#tag1</a><a href="#">#tag2</a><a href="#">#tag3</a></div>
        </div>
        
        <div class="samesame" id="samesame">
            <h3>Các bài viết khác</h3>
            <div class="sticky-post">
                <a href="../../kinh-doanh/nong-san/vat-nuoi.html"><img src="https://cdn.thesaigontimes.vn/Uploads/Articles/286433/0a0cc_tuduylamluat_thanhoa.jpg"></a>
                <div><div class="sticky-post-title"><a href="../../kinh-doanh/nong-san/vat-nuoi.html">Tư duy làm luật, nhìn từ thông tư “thức ăn chăn nuôi”</a></div></div>
            </div>
            <div class="sticky-post">
                <a href="../../xa-hoi/hai-huoc/3-chu-t.html"><img src="https://cdn.discordapp.com/attachments/511182519731879956/569725983322800159/FB_IMG_1555903638295.jpg"></a>
                <div class="sticky-post-title"><a href="../../xa-hoi/hai-huoc/3-chu-t.html">“Đời là ba chữ T”</a></div>
            </div>
            <div class="sticky-post">
                <a href="../../xa-hoi/doi-song/tuong-ot.html"><img src="https://znews-photo.zadn.vn/w660/Uploaded/aohunkx/2019_04_21/28d79ae748bcade2f4ad.jpg"></a>
                <div class="sticky-post-title"><a href="../../xa-hoi/doi-song/tuong-ot.html">Nhân viên Masan tạo hình Lăng Bác bằng sản phẩm gây tranh cãi</a></div>
            </div>
            <div class="sticky-post">
                <a href="../../khoa-hoc/cong-nghe/cntt.html"><img src="http://dev.cdn.sgt.tamminh.tech/sgt/1553959063490-d554f_img20190329102811.jpg"></a>
                <div class="sticky-post-title"><a href="../../khoa-hoc/cong-nghe/cntt.html">Đà Nẵng đưa vào hoạt động dự án khu công nghệ thông tin</a></div>
            </div>
            <div class="sticky-post">
                <a href="../../khoa-hoc/tu-nhien/tranh-chap.html"><img src="https://cdn.thesaigontimes.vn/Uploads/Articles/286434/458d1_a4.jpg"></a>
                <div class="sticky-post-title"><a href="../../khoa-hoc/tu-nhien/tranh-chap.html">Tranh chấp phí bảo trì chung cư: Sửa Luật Nhà ở để hạn chế tranh chấp</a></div>
            </div>
        </div>
        </div>
            <div class="commentbox">
                <div class="avatar"><img src="https://i.imgflip.com/29bq.jpg">
                </div>
        
        <div class="commentinputcontain">
            <form>
            <textarea name="commentinput" class="commentinput" placeholder="Bình luận..." maxlength="500"></textarea>
        </div>
        <button class="sendcomment">Đăng bình luận</button>
        </form>
        </div>
        <div class="user-comments-container" id="user-comments-container">
            <div class="comment-header">Bình luận:</div>
            <div class="a-comment" id="a-comment">
                <div class="user-avatar" id="user-avatar"><a href="#"><img src="https://i.imgflip.com/8u2j.jpg"></a></div>
                <div class="user-name" id="user-name"><a href="#">Uvuvwevwevwe Onyetevwevwe Ugwemuhwem Osas</a></div>
                <div class="comment-date">6/9/1969</div>
                <div class="user-comment">Lorem ipsum akjduhowuiahdjklahkljhwialhndjk lsdahbcfkljwahnldkhajlksdjla skjdwajdilakjduhowuiahdjklahkljhwialhndjklsdahbcfkljwahnldkhajlksdjlaskjdwajdilakjd uhowuiahdjklahkljhwial hndjklsdahbcfkljwahnldk hajlksdjlaskjdwajdilakjduhowuiahdjklah kljhwialhndjklsdahbcfkljwa hnldkhajlksdjlaskjdwajdil akjduhohajlksdjlaskjdwajdilakjduhowuiahdjklahkljhwialhn djklsdahbcfkljwahnldkhaj lksdjlaskjdwajdilajdla</div> 
            </div>
            <div class="a-comment" id="a-comment">
                <div class="user-avatar" id="user-avatar"><a href="#"><img src="https://i.imgflip.com/8u2j.jpg"></a></div>
                <div class="user-name" id="user-name"><a href="#">Uvuvwevwevwe Onyetevwevwe Ugwemuhwem Osas</a></div>
                <div class="comment-date">6/9/1969</div>
                <div class="user-comment">Lorem ipsum akjduhowuiahdjklahkljhwialhndjk lsdahbcfkljwahnldkhajlksdjla skjdwajdilakjduhowuiahdjklahkljhwialhndjklsdahbcfkljwahnldkhajlksdjlaskjdwajdilakjd uhowuiahdjklahkljhwial hndjklsdahbcfkljwahnldk hajlksdjlaskjdwajdilakjduhowuiahdjklah kljhwialhndjklsdahbcfkljwa hnldkhajlksdjlaskjdwajdil akjduhohajlksdjlaskjdwajdilakjduhowuiahdjklahkljhwialhn djklsdahbcfkljwahnldkhaj lksdjlaskjdwajdilajdla</div> 
            </div>
            <div class="a-comment" id="a-comment">
                <div class="user-avatar" id="user-avatar"><a href="#"><img src="https://i.imgflip.com/8u2j.jpg"></a></div>
                <div class="user-name" id="user-name"><a href="#">Uvuvwevwevwe Onyetevwevwe Ugwemuhwem Osas</a></div>
                <div class="comment-date">6/9/1969</div>
                <div class="user-comment">Lorem ipsum akjduhowuiahdjklahkljhwialhndjk lsdahbcfkljwahnldkhajlksdjla skjdwajdilakjduhowuiahdjklahkljhwialhndjklsdahbcfkljwahnldkhajlksdjlaskjdwajdilakjd uhowuiahdjklahkljhwial hndjklsdahbcfkljwahnldk hajlksdjlaskjdwajdilakjduhowuiahdjklah kljhwialhndjklsdahbcfkljwa hnldkhajlksdjlaskjdwajdil akjduhohajlksdjlaskjdwajdilakjduhowuiahdjklahkljhwialhn djklsdahbcfkljwahnldkhaj lksdjlaskjdwajdilajdla</div> 
            </div>
        </div>
        </div>
