<div class="bigcontainer">
	<div class="searchlbl">Kết quả tìm kiếm</div>
	<div class="searchresult" id="searchresult">
	<div class="searchtitle"><a href="../articles/xa-hoi/hai-huoc/3-chu-t.html">“Đời là ba chữ T”</a></div>
	<div class="searchabtract">
Không khó lắm để tìm trên mạng những giai thoại về Ba Vân, nghệ sĩ hài đã nổi danh trước năm 1975, với câu nói cửa miệng: “Đời là ba chữ T. Có tiền thì sẽ có tình. Có tiền, có tình thì mặc sức mà tê tê”. Ba Vân được truyền tụng là thường nói câu này.
	</div>
</div>
<div class="searchresult" id="searchresult">
	<div class="searchtitle"><a href="#">“Đời là ba chữ T”</a></div>
	<div class="searchabtract">
Không khó lắm để tìm trên mạng những giai thoại về Ba Vân, nghệ sĩ hài đã nổi danh trước năm 1975, với câu nói cửa miệng: “Đời là ba chữ T. Có tiền thì sẽ có tình. Có tiền, có tình thì mặc sức mà tê tê”. Ba Vân được truyền tụng là thường nói câu này.
	</div>
</div>
</div>

