<div class="bigcontainer">
        <div class="my-header">Các bài viết của bạn</div>
        <div class="my-ar-container" id="my-ar-container">
            <% pending.forEach(function(row){%>
            <div class="my-article">
            <a href="#"><img src="<%= row.image %>"></a>
            <div class="my-title"><a href="#"><%= row.header %></a></div>
            <div class="my-cat"><%= row.subcat %></div>
            <div class="my-status" id="my-status">
                <div class="cur-status" id="cur-status"><%if (row.state==0){%>Đang chờ<%}%><%if (row.state==1){%>Đã duyệt<%}%><%if (row.state==2){%>Từ chối<%}%></div>
                <%if (row.state!=1){%><button class="edt-button" onclick="window.location='/writer/edit/<%=row.ID%>'">Sửa bài viết</button><%}%>
            </div>
            <% }) %>
            </div>
        </div>
    </div>