<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

<div class="bigcontainer">
    <div class="new-header">Tạo bài viết mới</div>
    <div class="new-container">
        <form id="new-article-form">
            <div class="new-title">
                <span>Tiêu đề:</span>
                <input type="text" name="tieude" id="tieude"></input>
            </div>
            <div class="new-cat">
                <span>Chuyên mục:</span>
                <select name="chuyenmuc" id="chuyenmuc">
                    <option value="Kinh doanh">Kinh doanh</option>
                    <option value="Nông sản">Nông sản</option>
                    <option value="Hải sản">Hải sản</option>
                    <option value="Chính trị">Chính trị</option>
                    <option value="Trong nước">Trong nước</option>
                    <option value="Ngoài nước">Ngoài nước</option>
                </select>
            </div>
            <div class="new-pic">
                <span>Ảnh đại diện:</span>
                <input type="file" name="pic" id="pic" accept="image/*">
            </div>
            <div class="new-abstract">
                <span>Tóm tắt:</span>
                <textarea name="tomtat" id="tomtat"></textarea>
            </div>
            <div class="new-body">
            <span>Nội dung:</span>
                <div id="quill-body" name="noidung"></div>
            </div>
            <div class="new-tag">
                <span>Gán nhãn:</span>
                <input type="text" name="tag" placeholder="tag1,tag2,tag3">
            </div>
            <button class="article-submit" id="article-submit">Tạo bài viết</button>
        </form>
    </div>
</div>

<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script type="text/javascript" src="/public/new-article.js"></script>