<html>
    <head>
        <title>Lỗi</title>
        <Meta charset="UTF-8"></Meta>
        <link href="/theme/css/style.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">        
    </head>
<body>
<div class="error-big-div">
    <div class="er-txt">Lỗi</div>
    <div class="er-txt"><%=object%> đã tồn tại!</div>
    <div class="er-lnk-ctn">
    <a  href="/"><div class="er-home-btn"><i class="fas fa-home"> Trang chủ</i></div></a>
    <a  href="#"><div class="er-report-btn"><i class="far fa-envelope"> Báo lỗi</i></div></a>
</div>
</div>
<script>
    var timer = setTimeout(function() {
        window.location='/admin';
    }, 5000);
</script>
</body>
</html>