<html>
    <head>
        <%include ../../parts/head %>
    </head>
    <body>
        <%include ../../parts/nav-bar%>
        <%include ../../parts/siteimg%>

        <div class="bigcontainer">
            <div class="listlabel">Danh sách bài viết</div>	
            <div class="tagsearch">
            Nhập tag: 
            <input type="" name="taginput" id="taginput">
            <button id="tagbutton">Lọc</button>
        
        <div class="list-articles" id="list-articles">
                <a href="../articles/kinh-doanh/nong-san/vat-nuoi.html"><img src="https://cdn.thesaigontimes.vn/Uploads/Articles/286433/0a0cc_tuduylamluat_thanhoa.jpg"></a>
                <div class="listtitle"><a href="../articles/kinh-doanh/nong-san/vat-nuoi.html">Tư duy làm luật, nhìn từ thông tư “thức ăn chăn nuôi”</a></div>
                <div class="listabstract">
                    Những ngày gần đây truyền thông đã đưa tin về những bất cập trong Thông tư 02/2019 của Bộ Nông nghiệp và Phát triển nông thôn (NN&PTNT), ban hành Danh mục sản phẩm thức ăn chăn nuôi theo tập quán và nguyên liệu đơn được phép lưu hành tại Việt Nam. Đọc kỹ thông tư này, cùng các trường hợp đã xảy ra trước đó, có thể thấy những hạn chế về hoạt động lập quy.
            </div>
                <div class="listtag"><a href="#">#tag</a> <a href="#">#tag1</a> <a href="#">#tag2</a> <a href="#">#tag3</a></div>
                <div class="listcat">Nông sản</div>
                <div class="listdate">Ngày đăng</div>
            </div>
        
            <div class="list-articles" id="list-articles">
                <a href="../articles/kinh-doanh/hai-san/doanh-nghiep.html"><img src="http://dev.cdn.sgt.tamminh.tech/sgt/1553959646776-fbc02_vu_thao_pjbu.jpg"></a>
                <div class="listtitle"><a href="../articles/kinh-doanh/hai-san/doanh-nghiep.html">Luật Doanh nghiệp ở đâu trong vụ phân chia tài sản tại Trung Nguyên?</a></div>
                <div class="listabstract">
                    (TBKTSG Online) - Phán quyết của tòa sơ thẩm (Tòa án nhân dân TPHCM) cho phép ly hôn giữa cặp vợ chồng sáng lập đồng thời là cổ đông lớn nhất của Trung Nguyên cộng với kết quả phân chia tài sản đã dấy lên những tranh cãi xung quanh việc tòa phân chia tài sản như vậy có hợp lý không và việc “áp đặt” bà Lê Hoàng Diệp Thảo nhận 40% giá trị tài sản là cổ phần (quy ra tiền tương ứng với giá trị cổ phần sở hữu) có đúng theo Luật Doanh nghiệp không?
            </div>
                <div class="listtag"><a href="#">#tag</a> <a href="#">#tag1</a> <a href="#">#tag2</a> <a href="#">#tag3</a></div>
                <div class="listcat">Hải sản</div>
                <div class="listdate">Ngày đăng</div>
            </div>
        
            <div class="pagination">
          <a href="#">&laquo;</a>
          <a href="#" class="active">1</a>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">5</a>
          <a href="#">&raquo;</a>
        </div>
        </div>
        </div>
        </nav>
        </body>
    </body>
</html>