.newest
{
	margin-top: 10px;
	font-weight: bold;
	font-size: 25px;
	border-bottom: 2px solid white;
}

.news
{
	margin-top: 15px;
	width: 40%;
	background-color: #161617;
	height: 200px;
	overflow: hidden;
	position: relative;
	display: inline-block;
	margin-left: 75px;
}

.news img
{
	float: left;
	height: 200px;
	width: 200px;
}

.newtitle{
	font-size: 24px;
	word-break:break-word;
	margin-top: 10px;
	overflow: hidden;
	height: 150px;
}

.newtitle a{
	position: absolute;
	top: 5px;
	left: 210px;
	height: 150px;
	overflow: hidden;
}

.newcategory {
	position: absolute;
	bottom: 5px;
	left: 205px;
}

.newdate{
	position: absolute;
	bottom: 5px;
	right: 5px;
}