#page-user-profile{
    background: #161616;
    border-left: 1px solid white;
    vertical-align: top;
    height: 410px;
    width: 100%;
}

.profile-header{
    font-size: 30px;
    border-bottom: 2px solid white;
    margin-left:180px;
}

.detail{
    margin-top:10px;
    margin-left:180px;
    font-size: 24px; 
}

