#navbar {
    overflow: hidden;
    background-color: #333;
    z-index: 1;
    height: 50px;
    
}

#navbar li
{
    float: left;
}

#navbar a{
    font-size: 25px;
    line-height: 50px;
    padding: 10px;
    text-align: center;
}

#navbar a:hover{
    /* background color */
    background-color: #ddd;
    /* foreground color*/
    color: black;

}

#navbar a:active{
    background-color: #ddd;
    color: black;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}

.dropdown-content {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  overflow: hidden;
    background-color: #333;
    z-index: 2;
    height: 50px;
    text-align: center;
}

.dropdown-content a {
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  border-right: 1px solid white;
  z-index: 2;
}
    .dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown-content button {
  border:none;
  background-color: #333;
  z-index: 2;
  height: 100%;
  color: white;
  font-size: 40px;
  margin-top: 10px;
}

#navbar li:hover div {
  opacity: 1;
  visibility: visible;
}

#searchbar {
  float: right;
  height: 100%;
  margin-right: 10px;
  margin-top: 10px;
}

#searchbar input{
  height: 32px;
  opacity: 1;
  margin-right: 0;
  padding-left: 5px;
}

#searchbar img{
  vertical-align: middle;
}

#searchbar img:hover{
  opacity: 0.5;
}

#searchbar img:active{
  opacity: 1;
}

#user-icon{
  float: right;
      width: 50px;
}

#user-icon a{
 font-size: 25px;
    line-height: 50px;
    padding: 10px;
    text-align: center;
}

#user-icon:hover div{
  opacity: 1;
  visibility: visible;
}

.active{
  background: #ddd;
  color: #000;
}
#user-icon .dropdown-content{
  margin-left: -10px;
}
#user-icon a{
  padding: 5px !important;
}