.topcat
{
	margin-top: 30px;
	font-weight: bold;
	font-size: 25px;
	border-bottom: 2px solid white;
}

.cat
{
	margin-top: 15px;
	width: 40%;
	background-color: #161617;
	height: 200px;
	overflow: hidden;
	position: relative;
	display: inline-block;
	margin-left: 75px;
}

.cat img
{
	float: left;
	height: 200px;
	width: 200px;
}

.cattitle{
	font-size: 24px;
	word-break:break-word;
	margin-top: 10px;
	overflow: hidden;
	height: 150px;
	margin-left: 210px;
}

.cattitle a{
	height: 150px;
	overflow: hidden;
}

.catcategory {
	position: absolute;
	bottom: 5px;
	left: 205px;
}

.catdate{
	position: absolute;
	bottom: 5px;
	right: 5px;
}